* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

header section#top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0 0 0 0.5rem;
  -webkit-box-shadow: 0 0 3px 0 black;
          box-shadow: 0 0 3px 0 black;
}

header section#top span.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section#top span.title img {
  width: 3rem;
  height: 3rem;
}

header section#top span.title h1 {
  font-weight: normal;
  font-size: 1.5rem;
  padding: 0.5rem;
}

header section#top nav.navbar {
  height: 100%;
  width: 45vw;
}

header section#top nav.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  font-weight: 550;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

header section#top nav.navbar ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header section#top nav.navbar ul li a {
  padding: 1rem 0.6rem;
  text-decoration: none;
  color: black;
}

header section#top nav.navbar ul li:hover {
  background-color: #c4c4c4;
}

main section#cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-attachment: fixed;
  min-height: 65vh;
  width: 100%;
  background-image: url(./aurora.JPG);
  background-size: cover;
  background-position: center;
}

main section#cover section#words {
  padding-right: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: lighter;
}

main section#cover section#words img {
  margin: 0.8rem 0.2rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
}

main section#cover section#words h1 {
  font-size: 70px;
}

main section#cover section#words h2 {
  font-size: 35px;
}

main section#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

main section#title h3 {
  margin: 0.2rem;
  color: #1d1936;
  font-size: 2.5rem;
  font-weight: bolder;
}

main section#mainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section#mainBlock div.blue {
  background-color: #242f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  width: 410px;
}

main section#mainBlock div.blue img.bluePhoto {
  height: 62%;
  width: 80%;
}

main section#mainBlock div.blue h4 {
  color: white;
  font-size: 2rem;
}

main section#mainBlock div.blue:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

main section#Podcast section#sunset {
  margin-top: 2rem;
  margin-bottom: 1rem;
  min-height: 50vh;
  width: 100%;
  background-image: url(./sunset.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#Podcast div#grey {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 50vh;
  width: 100%;
  position: absolute;
}

main section#Podcast h3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

main section#Podcast section#covers, main section#Podcast section#topChannels, main section#Podcast section#bottomChannels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section#Podcast section#covers a, main section#Podcast section#topChannels a, main section#Podcast section#bottomChannels a {
  margin: 1rem;
}

main section#Podcast section#covers a img, main section#Podcast section#topChannels a img, main section#Podcast section#bottomChannels a img {
  width: 200px;
  height: 200px;
}

main section#Podcast img:hover {
  cursor: pointer;
  outline: none;
}

main section#Podcast section#topChannels {
  position: relative;
  z-index: 5;
}

main section#Podcast section#covers {
  position: absolute;
  z-index: 10;
}

main section#Podcast section#covers img:hover {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
}

footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
  min-height: 10vh;
  width: 100%;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h3 {
  font-size: 2rem;
  margin: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.email img {
  margin: 0 1rem;
  height: 15%;
  width: 15%;
}

footer div.email img:hover {
  cursor: pointer;
}

footer div.email p {
  font-size: 1.2rem;
}

footer div.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.icon img {
  cursor: pointer;
  margin: 1rem 0.5rem;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1300px) {
  header section#top nav.navbar ul {
    font-size: 0.9rem;
  }
  main section#cover {
    background-image: url(./aurora.JPG);
    background-size: cover;
    background-position: center;
    min-height: 35vh;
  }
  main section#cover section#words {
    padding-right: 8rem;
  }
  main section#cover section#words h1 {
    font-size: 40px;
  }
  main section#cover section#words h2 {
    font-size: 20px;
  }
  main section#cover section#words section#icons img {
    width: 1.5rem;
    height: 1.5rem;
  }
  main section#title {
    margin: 2rem;
  }
  main section#title h3 {
    margin: 0.5rem;
    font-size: 1.2rem;
  }
  main section#mainBlock div.blue {
    margin: 0.6rem;
    padding: 1rem;
  }
  main section#Podcast section#sunset {
    min-height: 30vh;
  }
  main section#Podcast section#sunset h3 {
    font-size: 2.5rem;
  }
  main section#Podcast div#grey {
    min-height: 30vh;
  }
  footer h3 {
    font-size: 1.6rem;
  }
  footer div.email img {
    margin: 0.1rem 0.5rem 0 0.5rem;
    height: 13%;
    width: 13%;
  }
  footer div.email p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1030px) {
  header section#top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header section#top span.title img {
    width: 2rem;
    height: 2rem;
  }
  header section#top span.title h1 {
    font-size: 1.5rem;
  }
  header section#top nav.navbar {
    width: 100vw;
  }
  header section#top nav.navbar ul {
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header section#top nav.navbar ul li {
    background-color: #e9e9e9;
    border: 0.01rem solid white;
  }
  header section#top nav.navbar ul li a {
    padding: 0.4rem 0;
  }
}

@media screen and (max-width: 900px) {
  main section#cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section#cover section#words {
    padding: 0;
  }
}

@media screen and (max-width: 580px) {
  header section#top span.title img {
    width: 1.8rem;
    height: 1.8rem;
  }
  header section#top span.title h1 {
    font-size: 1.2rem;
  }
  main section#cover {
    background-image: url(./aurora.JPG);
    background-size: cover;
    background-position: center;
    min-height: 26vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section#cover section#words {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.4rem;
  }
  main section#cover section#words h1 {
    font-size: 28px;
  }
  main section#cover section#words h2 {
    font-size: 15px;
  }
  main section#cover section#words img {
    height: 1rem;
  }
  main section#cover section#words section#icons img {
    width: 1.5rem;
    height: 1.5rem;
  }
  main section#title {
    margin: 0.8rem;
  }
  main section#title h3 {
    font-size: 1.1rem;
  }
  main section#mainBlock div.blue {
    margin: 0.6rem;
  }
  main section#Podcast section#sunset h3 {
    font-size: 1.6rem;
  }
  main section#Podcast section#sunset {
    min-height: 20vh;
  }
  main section#Podcast div#grey {
    min-height: 20vh;
  }
  footer h3 {
    font-size: 1.2rem;
  }
  footer div.email img {
    margin: 0.3rem 0.5rem 0 0.5rem;
    height: 10%;
    width: 10%;
  }
  footer div.email p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 390px) {
  main section#cover {
    background-image: url(./aurora.JPG);
    background-size: cover;
    background-position: center;
    min-height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section#cover section#words {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.4rem;
  }
  main section#cover section#words h1 {
    font-size: 24px;
  }
  main section#cover section#words h2 {
    font-size: 14px;
  }
  main section#cover section#words section#icons img {
    width: 1.5rem;
    height: 1.5rem;
  }
  main section#title {
    margin: 0.8rem;
  }
  main section#title h3 {
    font-size: 0.9rem;
  }
  main section#mainBlock div.blue {
    margin: 0.6rem 2rem;
  }
}
/*# sourceMappingURL=HW1.css.map */
